.personProfile {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.personName {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.personImg {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 100px;
    width: 100px;
}

.personChart svg {
    display: block;
    width: 100%;
    height: auto;
}
