.articleTile {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    margin: 10px;
    cursor: pointer;
    position: relative;
    padding: 10px 10px 30px 10px;
}

.articleTile:hover {
    background-color: #eeeeee;
}

.articleTitle {
    font-size: 1.1rem;
    font-weight: 300;
}

.articleAuthor {
    font-size: 1.2rem;
    font-weight: 300;
}

.articleSource {
    font-size: 0.9rem;
    font-weight: 300;
}

.articleChart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    pointer-events: none;
}
