.feedContainer {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
}

.feedView {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
    width: 50%;
}
