.feedContainer {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}

.feedView {
    flex: 1;
    width: 50%;
    margin: 0 10px;
}

.feedView h3 {
    font-size: 1.5rem;
}

.feedView ul {
    list-style-type: none;
    padding: 0;
}
