
.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

.input {
    font-size: 1.2rem;
    padding: 10px;
    width: calc(100% - 20px);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    border: 0;
}

.profileColumns {
    margin: 10px;
    flex-direction: row;
    display: flex;
}

.profileColumn {
    flex: 1;
    margin: 10px 10px;
}